body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.main-page {
  padding: 40px 15px;
}

.left-column {
  text-align: center;
}

.right-column {
  padding: 0 15px;
}

.left-aligned {
  text-align: left;
  padding: 15px 0;
}

a {
  color: #007bff;
  text-decoration: none;
}